@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@config "../tailwind.config.js";
@import 'tailwindcss';

@layer base {
  :root {
    font-family: 'Red Hat Display', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.5;
    font-weight: 600;

    color-scheme: light dark;
    color: black;
    background-color: #fffaf0;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
  }

  body {
    height: 100%;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  h1 {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
  }

  h2 {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
  }

  h3 {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }
}

@layer components {
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 5px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .font-footer-header {
    font-family: 'Patrick Hand', cursive;
  }
}
